<!DOCTYPE html>
<html lang="en">
  <%- include('./head') %>

<body>
    <%- include('../shop/menuShop.ejs') %>
    <div class="container">
          <div class="body-product">
            <div class="title"><h4><%=title%></h4></div>
            <div class="show-product">
              <%for(let i=0;i<products.length;i++){%>
                <div class="card-image">
                  <div class="items">
                    <div class="image">
                      <img class="slider-image" src="<%=products[i].feature_image%>" alt="">
                    </div>
                    <div class="text">
                      <h3><%=products[i].name%></h3>
                      <p><%= products[i].price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></p>
                    </div>
                    <div class="button">
                      <a href="/getDetailProductShop/<%=products[i].id%>">Xem chi tiết</a>
                    </div>
                  </div>
                </div>
              <%}%>
            </div>
        </div>
    </div>
      
    </div>
    <%- include('../shop/footer.ejs') %>
</body>
</html>